 h1,
 h2,
 h3,
 h4 {
     text-align: center;
 }

 * {
     box-sizing: border-box;
 }

 .wrapper {
     width: 80%;
     margin: 0 auto;
 }

 /*NAVIGATION*/

 nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }

 nav li {
     float: left;
 }

 nav li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 /*NAVIGATION SLUT */

 p.center {
     text-align: center;
     color: red;
     font-size: 18px;
 }

 #id p {
     color: blue;
 }

 .green {
     color: green;
 }
